.card{
   width: 326px;
   margin-left: auto;
   margin-right: auto;   
   background-color: white;
   border-radius: var(--border-radius-card);
   overflow: hidden;
   box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
   position: relative;
   z-index: 10;

   @media (min-width: 1024px){
      width: 350px;
   }

   &__header,
   &__photo{
      display: flex;
   }

   &__photo{
      justify-content: center;         
      position: relative;
      margin-top: -52px;
      user-select: none;

      img{
         outline: 5px solid white;
         border-radius: 50%;  
         width: 96px;
      }
   }

   &__info{
      margin-top: 24px;      
      text-align: center;

      .title{
         font-weight: 700;
         font-size: 18px;
         line-height: 18px;
         color: var(--very-dark-blue);
      }
      span, p{
         color: var(--dark-blue);
         font-weight: 400;
      }      
      p{         
         font-size: 14px;
         line-height: 14px;
         padding-top: 16px;         
      }
   }

   &__analytics{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 24px 20px;
      margin-top: 30px;
      border-top: 1px solid hsla(228, 9%, 92%, 1);

      &--item{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         .number{
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            color: var(--very-dark-blue);
            padding-bottom: 10px;
         }
         span{
            display: block;
            font-weight: normal;
            font-size: 10px;
            line-height: 10px;
            color: var(--dark-blue);
            letter-spacing: 1.5px;
         }
      }
   }
}