:root{
   --width-mobile: 375px;
   --width-tablet: 768px;
   --width-laptop: 1280px;
   --width-desktop: 1440px;

   --dark-cyan: hsl(185, 75%, 39%);
   --very-dark-blue: hsl(229, 23%, 23%);
   --dark-blue: hsl(227, 10%, 46%);
   --neutral-gray: hsl(0, 0%, 59%);

   --body-font-size: 18px;
   --font-family-kumbh-sans: 'Kumbh Sans', sans-serif;   

   --border-radius-card: 15px;
}